html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}

#theme-checkbox {
    position: absolute;
    right: 1em;
    top: 1em;
}

#centered {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    flex-basis: 680px;
    background-color: var(--centered-bgcolor);
}

#popup {
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--centered-bgcolor);
    z-index: 10;
}

#popup > div { display: flex; }
#popup > p { margin: 0 0 1em 0; }
#popup > div > div { display: flex; flex-direction: column; }
#popup > div > :first-child { flex-basis: 100%; }

#popup:not(.hidden) + #centered > * {
    opacity: 50%;
    pointer-events: none;
}

#theme-checkbox:not(:checked) + #themed {
    background-color: var(--browser-theme-bg);
    color: var(--browser-theme-fg);
    --centered-bgcolor: var(--browser-theme-main);
}

#theme-checkbox:checked + #themed {
    background-color: var(--opposite-theme-bg);
    color: var(--opposite-theme-fg);
    --centered-bgcolor: var(--opposite-theme-main);
}

@media (min-width: 680px) {
    #centered {
        border-right: 1px solid grey;
        border-left: 1px solid grey;
    }
}

#themed {
    display: flex;
    justify-content: center;
}

#spacer { flex-grow: 1; }

#spacer + p {
    font-size: 0.9em;
    text-align: center;
}

@media (prefers-color-scheme: no-preference), (prefers-color-scheme: dark) {
    html {
        --browser-theme-bg: #111;
        --browser-theme-main: #222;
        --browser-theme-fg: #eee;
        --opposite-theme-bg: #798a9c;
        --opposite-theme-main: #fdfbff;
        --opposite-theme-fg: #333;
    }
}

@media (prefers-color-scheme: light) {
    html {
        --browser-theme-bg: #798a9c;
        --browser-theme-main: #fdfbff;
        --browser-theme-fg: #333;
        --opposite-theme-bg: #111;
        --opposite-theme-main: #222;
        --opposite-theme-fg: #eee;
    }
}

.viewer { padding: 0 20px; }
.viewer > * { margin: 10px 0; }

img {
    width: 100%;
    max-height: 30vh;
    object-fit: contain;
}

body #markdown {
    height: 0;
    flex-grow: 1;
    resize: none;
    padding: 16px;
}

#editor {
    display: flex;
    padding: 0;
    border-bottom: 1px solid grey;
    justify-content: center;
}

#editor > * {
    padding: 0.5em;
    line-height: 1em;
    border-right: 1px solid grey;
}

#editor > :first-child { border-left: 1px solid grey; }

#table-of-contents {
    text-align: center;
}

.hidden { display: none !important; }

button, a, textarea {
    border: 0;
    margin: 0;
    border-radius: 0;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    resize: vertical;
}

#table-of-contents:not(:target) + hr + div,
#table-of-contents:not(:target) + hr + div + hr {
    display: none;
}

/* Hide real title */
#h-0 { display: none; }
.viewer > h1:first-child { text-align: center; }

#table-of-contents + hr + div > h1,
#table-of-contents + hr + div > h2,
#table-of-contents + hr + div > h3,
#table-of-contents + hr + div > h4,
#table-of-contents + hr + div > h5,
#table-of-contents + hr + div > h6 { margin: 0; font-size: inherit; font-weight: normal; }

#table-of-contents + hr + div > h2 { padding-left: 1em; }
#table-of-contents + hr + div > h3 { padding-left: 2em; }
#table-of-contents + hr + div > h4 { padding-left: 3em; }
#table-of-contents + hr + div > h5 { padding-left: 4em; }
#table-of-contents + hr + div > h6 { padding-left: 5em; }

#table-of-contents a:not(:hover),
h1 a:not(:hover),
h2 a:not(:hover),
h3 a:not(:hover),
h4 a:not(:hover),
h5 a:not(:hover),
h6 a:not(:hover) { text-decoration: none; }
a { color: inherit; }
a:not(:hover) > div { display: none; }
a:hover > div { opacity: 50%; display: inline; }
button { cursor: pointer; }
button:hover { background-color: grey; }

button:disabled {
  pointer-events: none;
  color: grey;
}
